/WIP
/overlays/historic/Chesnoy_2_1778_defl_f_geo.tif
/overlays/historic/Clinton_4_1777_defl_f_geo.tif
/overlays/historic/DesBarres_1781_defl_f_geo.tif
/overlays/historic/Fage_1779_defl_f_geo.tif
/overlays/historic/LeRouge_1778_defl_f_geo.tif
/overlays/historic/LOC_GMD_1780_defl_f_geo.tif
/overlays/historic/LOC_GMD_2_1780_defl_f_geo.tif
/overlays/historic/Closen_1780_defl_f_geo.tif
/overlays/historic/Wheeler_177-_defl_f_geo.tif
