/WIP
/maps/Chesnoy_2_1778_defl_f_geo.tif
/maps/Clinton_4_1777_defl_f_geo.tif
/maps/DesBarres_1781_defl_f_geo.tif
/maps/Fage_1779_defl_f_geo.tif
/maps/LeRouge_1778_defl_f_geo.tif
/maps/LOC_GMD_1780_defl_f_geo.tif
/maps/LOC_GMD_2_1780_defl_f_geo.tif
/maps/Closen_1780_defl_f_geo.tif
/maps/Wheeler_177-_defl_f_geo.tif
